:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --racing-blue: #00c8ff;
    --cyan: #29cec8;
    --magenta: #f83adc;
    --brick: #fd493b;
    --midnight: #181330;
    --electric-violet: #8a02ff;
    --electric-yellow: #fcff66;
    --rose-pink: #f972aa;
    --dark-gray: #1e1e1e;
    --cursive-font: 'Pacifico', cursive;
    --plex: 'IBM Plex Serif', serif;
    --title-font: 'Bigshot One', serif;
    --pixel-font: 'Press Start 2P', system-ui;
    --accent-font: 'Knewave', system-ui;
}
.hero{
  background-color: var(--electric-violet);
  background-image: url(./assets/heroJag.svg);
  background-size: 120% auto;
  background-repeat: no-repeat;
  height: 50vh;
}
.heroDivide1, .heroDivide2{
  width: 100%;
  height: 400px;
  background: var(--cyan);
  background-size: cover;
  border: 5px solid white;
}
.profilePic, .heroTxt{
  display: flex;
  align-items: center;
}
.heroTxt > h1, .profilePic > img{
  color: white;
  background-color: var(--dark-gray);
  border: 14px solid white;
  font-family: var(--plex);
}