:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --racing-blue: #00c8ff;
    --cyan: #29cec8;
    --magenta: #f83adc;
    --brick: #fd493b;
    --midnight: #181330;
    --electric-violet: #8a02ff;
    --electric-yellow: #fcff66;
    --rose-pink: #f972aa;
    --dark-gray: #1e1e1e;
    --cursive-font: 'Pacifico', cursive;
    --plex: 'IBM Plex Serif', serif;
    --title-font: 'Bigshot One', serif;
    --pixel-font: 'Press Start 2P', system-ui;
    --accent-font: 'Knewave', system-ui;
    --title-size: calc(12px + 1.5vw);
}
.hero, .about, .projects, .contact, .footer{
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: right -75px bottom -3px;
  height: 50vh;
  border: 20px solid white;
}
.hero{
    background-color: var(--electric-violet);
  background-image: url(./assets/heroJag.svg);
}
.about{
  background-color: var(--cyan);
  background-image: url(./assets/confetti.svg);
}
.projects{
  background-color: var(--magenta);
  background-image: url(./assets/polygons.svg);
}
.contact{
  background-color: var(--brick);
  background-image: url(./assets/rug.svg);
}
.footer{
background-color: var(--midnight);
}
.footer:before{
  display:block;
  content: "";
  position: relative;
  z-index: -1;
  width: 100%;
  height: 50vh;
  background-image:url(./assets/vaporSunVector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer::after{
  display:block;
  content: "";
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50vh;
  background-image:url(./assets/bluejag.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.heroDivide1, .heroDivide2{
  width: 100%;
  height: 400px;
  background: var(--cyan);
  background-size: cover;
  border: 5px solid white;
}
.profilePic, .heroTxt{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroTxt span{
  display: inline-block;
  width: 80%;
}
.profilePic{
  justify-content: center;
}
.heroTxt h1, .profilePic img{
  color: white;
  background-color: var(--dark-gray);
  border: calc(8px + 0.5vw) solid white;
  font-family: var(--plex);
}
.profilePic img{
    height: calc(200px + 15vw);
    aspect-ratio: 1 / 1;
    max-height: 400px;
}
.heroTxt h1{
    font-size: var(--title-size);
}

/*animations*/

/*media queries*/
@media (min-width: 960px){
  .hero{
    background-size: 110%;
  }
}